@page
@model SinusSkateboards.UI.Pages.Admin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <img src="~/images/products/@Model.ProductModel.PhotoPath"/>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductModel.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductModel.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductModel.Category.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductModel.Category.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductModel.Color.ColorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductModel.Color.ColorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductModel.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductModel.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductModel.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductModel.Price) sek
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductModel.PhotoPath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductModel.PhotoPath)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductModel.ProductID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
