@page
@model SinusSkateboards.UI.Pages.Admin.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProductModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.ProductID" />
            <input type="hidden" asp-for="Product.PhotoPath" />
            <div class="form-group">
                <label asp-for="Product.Title" class="control-label"></label>
                <input asp-for="Product.Title" class="form-control" />
                <span asp-validation-for="Product.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Category" class="control-label"></label>

                <select class="form-control" asp-for="@Model.Category.CategoryID">

                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.CategoryID"> @category.CategoryName</option>
                    }
                </select>
                <span asp-validation-for="Product.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Color" class="control-label"></label>
                <select class="form-control" asp-for="@Model.Color.ColorID">

                    @foreach (var color in Model.Colors)
                    {
                        <option value="@color.ColorID"> @color.ColorName</option>
                    }
                </select>
                <span asp-validation-for="Product.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input type="number" asp-for="Product.Price" step="any" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Photo" class="control-label"></label>
                <input type="file" class="form-control" id="bild" accept=".jpg, .jpeg, .png" asp-for="@Model.Photo" />
                <span asp-validation-for="@Model.Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
